.header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    border: 1px solid black;
}

.cartsvg,
.usersvg {
    width: 30px;
}

.header a {
    text-decoration: none;
    color: black;
}

.header a:hover {
    text-decoration: underline;
}