* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.suform {
    width: 30%;
    height: 40%;
    border: 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.suform input {
    height: 15%;
    width: 60%;
}

.suform button {
    width: 30%;
    height: 10%;
}

.main a {
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}


@media (max-width:600px) {
    .suform {
        width: 60%;
    }
}